.portfolioCont {
    padding: 1.5rem;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    width: 100%;
}

.scrollTrack {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.scrollItem {
  flex-shrink: 0;
  list-style: none;
}

.artTitle {
    margin-top: .25rem;
    font-weight: normal;
}

.infoLine {
    display: flex;
    align-items: center;
    gap: 8px;
}