.portfolioCont {
    padding: 1.5rem;
}

.scrollCont {
    position: relative;
    height: 66vh;
    overflow: hidden;
}

.scrollInner {
    position: sticky;
    top: 0;
    height: 66vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.scrollTrack {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
  will-change: transform;
  overflow: scroll;
  overflow-y: scroll;
}


.scrollItem {
  flex-shrink: 0;
}

.artTitle {
    font-weight: normal;
}

.infoLine {
    display: flex;
    align-items: center;
    gap: 8px;
}