:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;

}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.under-hov:hover {
  text-decoration: underline;
}




.artPage {
  padding-top: 6rem;
  margin-bottom: 3rem;
  justify-content: center;
  display: flex;
  width: 100%;
}

.artCont {
  width: 90%;
  margin: auto;
}

.artItem {
  margin-bottom: 3rem;
}



@media (min-width: 600px) {
  .artCont {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .artCont {
    width: 70%;
  }
}

@media (min-width: 1040px) {
  .artCont {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .artCont {
    width: 46%;
  }
}

@media (min-width: 1350px) {
  .artCont {
    width: 38%;
  }
}

@media (min-width: 1450px) {
  .artCont {
    width: 33%;
  }
}